* {
  box-sizing: border-box;
}

html {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 125%;
  margin: 0;
}

main {
  padding: 4%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3F3244;
  height: 4em;
}
header .student-name, header .icon {
  margin: 3%;
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
}
header .student-name span, header .icon span {
  color: #34D1D1;
}

.sandbox {
  width: 90%;
  margin: 3% auto;
}

.hidden {
  display: none;
}

section {
  margin: auto 3% 7% 3%;
}

.view-code {
  width: 30%;
  margin: 2% auto 2% 35%;
  padding: 1%;
  background-color: #2F2235;
  color: white;
}

.caps {
  text-transform: uppercase;
  font-weight: 100;
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-title {
  font-size: 0.9em;
  width: 25%;
  display: inline-block;
  padding-right: 3%;
}

.line {
  background: #F2F2F2;
  height: 2px;
  width: 100%;
  z-index: -1;
}

.tab-content-header {
  font-size: 1.1em;
  display: block;
  margin-bottom: 3%;
}

.tab-text {
  padding: 3%;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.accordion img {
  height: 40vh;
  width: 35%;
  margin: 5%;
}
.accordion label {
  flex-grow: 1;
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 2px;
  cursor: pointer;
  background: #F2F2F2;
  transition: background ease 0.3s;
}
.accordion .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  background: white;
}

.accordion input[type=radio] {
  display: none;
}

.accordion input[type=radio]:checked + label {
  background: white;
  border: #D1D2D3 1px solid;
  border-bottom: white;
  z-index: 1;
  margin-bottom: -1px;
}

.accordion input[type=radio]:checked + label + .tab {
  display: flex;
  border: #D1D2D3 1px solid;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 5%;
  grid-gap: 0.7em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid black;
}
.card h4 {
  padding: 0.6em;
  margin: 0;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: auto;
}
.card img {
  width: 100%;
  margin: 0;
  height: 9em;
}

.card-one, .card-seven {
  grid-column: span 2;
}

.menu-section {
  margin: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  padding: 1%;
  margin: 4% auto;
  list-style-type: none;
  background-color: #D1D2D3;
  width: 85%;
  height: 4em;
}
.nav-list .logo {
  background-color: #F2F2F2;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
}
.nav-list .menu-toggle {
  display: none;
}
.nav-list a {
  text-decoration: none;
  font-size: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-button {
  background: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: inline-block;
  background-color: white;
  border-right: none;
  z-index: 2;
  width: 2.3em;
  height: 1.8em;
  border: none;
}
.search-button:hover {
  background-color: #3F3244;
}

.search-input {
  display: flex;
  height: 1.8em;
  border: none;
  width: 100%;
}
.search-input::placeholder {
  font-size: 0.8em;
  font-weight: 300;
}

.mobile-menu {
  display: none;
}

@media (max-width: 950px) {
  body {
    font-size: 140%;
  }

  main {
    padding: 0;
  }

  section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .header-bar-section {
    margin-bottom: 8%;
  }

  .view-code {
    width: 90%;
    margin-left: 5%;
    height: 2em;
  }

  .title-container {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 6% auto 4% auto;
  }
  .title-container .line {
    width: 25%;
  }
  .title-container .section-title {
    padding: 0;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6%;
  }

  .card-seven {
    grid-row: 4;
  }

  .nav-list {
    margin-bottom: 0;
    justify-content: space-between;
    padding: 4%;
  }
  .nav-list .menu-toggle {
    display: block;
    float: right;
  }
  .nav-list .logo {
    height: 3.5em;
    width: 3.5em;
  }

  .header-item {
    display: none;
  }
  .header-item button, .header-item input {
    display: none;
  }

  .menu-toggle {
    font-size: 150%;
  }

  .mobile-menu {
    display: block;
    list-style-type: none;
    width: 85%;
    margin: 0 auto 7% auto;
    padding: 2%;
    background-color: #F2F2F2;
    color: #666666;
  }
  .mobile-menu li:not(.search-bar) {
    padding: 3%;
  }
  .mobile-menu .search-bar {
    border: 1px solid #666666;
    margin: 1%;
    height: 1.9em;
  }
}
@media (max-width: 55em) {
  html {
    font-size: 0.9em;
  }

  header {
    flex-direction: column;
    justify-content: space-around;
  }
  header .student-name {
    font-size: 0.7em;
  }

  .accordion .tab,
.accordion label {
    order: initial;
    margin-right: 0;
  }

  .accordion label {
    width: 100%;
  }

  .tab {
    display: flex;
    flex-direction: column;
  }
  .tab img {
    width: 100%;
    max-height: 10em;
    margin: auto;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 0.4em;
  }

  .mobile-menu li:not(.search-bar) {
    padding: 8%;
  }
}

/*# sourceMappingURL=styles.css.map */
