$light-gray: #F2F2F2;
$gray: #D1D2D3;
$dark-gray: #666666;
$blue: #34D1D1;
$dark-purple: #2F2235;
$light-purple: #3F3244;

* {
  box-sizing: border-box;
}

html {
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 125%;
  margin: 0;
}

main {
  padding: 4%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-purple;
  height: 4em;

  .student-name, .icon {
    margin: 3%;
    color: white;
    font-weight: lighter;
    font-size: 1.2em;

    span {
      color: $blue;
    }
  }
}

.sandbox {
  width: 90%;
  margin: 3% auto;
}

.hidden {
  display:none;
}

section {
  margin: auto 3% 5% 3%;
}

.view-code {
  width: 30%;
  margin-left: 35%;
  padding: 1%;
  background-color: $dark-purple;
  color: white;
}

.caps {
  text-transform: uppercase;
  font-weight: 100;
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-title {
  font-size: 0.9em;
  width: 25%;
  display: inline-block;
  padding-right: 3%;
}

.line {
  background: $light-gray;
  height: 2px;
  width: 100%;
  z-index: -1;
}

.tab-content-header {
  font-size: 1.1em;
  display: block;
  margin-bottom: 3%;
}

.tab-text {
  padding: 3%;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;

  img {
    height: 40vh;
    width:35%;
    margin: 5%;
  }

  label {
    flex-grow: 1;
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 2px;
    cursor: pointer;
    background: $light-gray;
    transition: background ease 0.3s;
  }

  .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    background: white;
  }
}

.accordion input[type="radio"] {
  display: none;
}

.accordion input[type="radio"]:checked + label {
  background: white;
  border: $gray 1px solid;
  border-bottom: white;
  z-index: 1;
  margin-bottom: -1px;
}

.accordion input[type="radio"]:checked + label + .tab {
  display: flex;
  border: $gray 1px solid;
}


// ----------------start card section-----------------

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 4% auto;
  grid-gap: 0.7em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid black;
  // margin: 0.7em;
  
  h4 {
    padding: 0.6em;
    margin: 0;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: auto;
  }

  img {
    width: 100%;
    margin: 0;
    height: 9em;
  }
}

.card-one, .card-seven {
  grid-column: span 2;
}


// ------------start menu section--------------- 

.menu-section {
  width: 85%;
  margin: auto;
}

.nav-list {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 3%;
  margin: 0;
  list-style-type: none;
  background-color: $gray;

  button {
    background: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    text-align: right;
    position: absolute;
    position: top left;
    z-index: 2;
    width: 2em;
    height: 1.5em;
    border: none;

    &:hover {
      background-color: $light-purple;
    }
  }

  input {
    width: 100%;

      &::placeholder { 
      text-align: right;
    }
  }
  a {
    text-decoration: none;
  }
}


// -------------start media queries--------------


@media (max-width: 950px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6%;
  }

  .card-seven {
    grid-row: 4;
  }
}

@media (max-width: 55em) {

  html {
    font-size: 0.9em;
  }

  header {
    flex-direction: column;
    justify-content: space-around;

    .student-name {
      font-size: 0.7em;
    }
  }

  .accordion .tab,
  .accordion label {
    order: initial;
    margin-right: 0;
  }

  .accordion label {
    width: 100%;
  }

  .tab {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      max-height: 10em;
      margin: auto;
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 0.4em;
  }

}








